<!DOCTYPE html>
{assign var='error' value=$error|default:'ok'}
<html lang="it">
<head>
    <link href="assets/css/log.css" rel="stylesheet">
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="login-form"action="/FacceBeve/Utente/login" method="POST">
            <input type="text" placeholder="username " required name=username">
            <input type="password" placeholder="password" required name="password"/>
         <!--   {if $error!='ok'}
            <div style="color: red;">
                <p>Attenzione! Username e/o password errati! </p>
            </div>
            {/if} -->
            <button  type="submit" >Login</button>

            <p class="message">Non sei ancora registrato?<a href="RegistrazioneUtente.html">Crea un account utente</a></p>
            <p class="message">Hai bisogno di pubblicizzare il tuo locale?<a href="index.html">Crea un account proprietario</a></p>
        </form>
    </div>
</div>
<script src="js/main.js"></script>
</body>
</html>
