<!DOCTYPE html>
{assign var='error' value=$error|default:'ok'}
<html lang="it">
<head>
  <link href="assets/css/log.css" rel="stylesheet">
</head>
<body>
<div class="login-page">
  <div class="form">
    <form class="login-form"action="/FacceBeve/Utente/regx" method="POST">
       <input type="text" class="form-control" placeholder="nome " required name="nome" pattern="[a-zA-Z]+\" />
       <input type="text" class="form-control" placeholder="cognome " required name="cognome" pattern="[a-zA-Z]+\" />
       <input type="text" placeholder="username " required name=username">
       <input type="password" placeholder="password" required name="password"/>
       <button>Registrati</button>
       <p class="message">Hai gi&agrave un account? <a href="Login.html">Accedi</a></p>
    </form>
  </div>
</div>
<script src="js/main.js"></script>
</body>
</html>
