<!DOCTYPE html>
{assign var='error' value=$error|default:'ok'}
<html lang="it">
<head>
  <link href="assets/css/log.css" rel="stylesheet">
</head>
<body>
<div class="login-page">
  <div class="form">
    <form class="login-form"action="/FacceBeve/Utente/regprop" method="POST">
      <input type="text" class="form-control" placeholder="nome " required name="nome" pattern="[a-zA-Z]+\" />
      <input type="text" class="form-control" placeholder="cognome " required name="cognome" pattern="[a-zA-Z]+\" />
      <input type="text" placeholder="email " required name=email">
      <input type="text" placeholder="username " required name=username">
      <input type="password" placeholder="password" required name="password"/>
      <button type="submit">Registrati</button>
      <p class="message">Hai gi&agrave un account? <a href="Login.html">Accedi</a></p>
    </form>
    <!--  {if $errorSize!='ok'}
      <div style="color: red;">
          <p align="center">Attenzione! Formato immagine troppo grande!  </p>
      </div>
      {/if}
      {if $errorType!='ok'}
      <div style="color: red;">
          <p align="center">Attenzione! Formato immagine non supportato (provare con .png o .jpg)!  </p>
      </div>
      {/if}
      {if $errorEmail!='ok'}
      <div style="color: red;">
          <p align="center">Attenzione! Email già esistente!  </p>
      </div>
      {/if} -->
  </div>
</div>
<script src="js/main.js"></script>
</body>
</html>
